html,
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 100%;
    display: flex;
}
.left {
    width: 40vw;
    height: 100vh;
    background-image: url('/images/bg.jpg');
    filter: blur(10px);
    filter: opacity(50%);
}
.content {
    padding: 1rem;
}